<div fxFlex="100" fxLayout="column" class="profile-step2">
    <form [formGroup]="form">
        <div class="">
            <div>
                <mat-icon>ip</mat-icon>
                <div class="ip">IP Address</div>
            </div>
            <div class="">
                <mat-form-field appearance="outline">
                    <mat-label>IP Address</mat-label>
                    <input matInput placeholder="IP Address" formControlName="ip" />
                </mat-form-field>
            </div>
        </div>
        <div class="">
            <div>
                <mat-icon>label</mat-icon>
                <div class="label">Label</div>
            </div>
            <div class="">
                <mat-form-field appearance="outline">
                    <mat-label>Label</mat-label>
                    <input matInput placeholder="Label" formControlName="label" />
                </mat-form-field>
            </div>
        </div>
        <div class="">
            <button mat-button class="mat-cancel">Cancel</button>
            <button mat-raised-button [disabled]="form?.invalid" color="primary" (click)="submitForm()">
                Save
            </button>
        </div>
    </form>
</div>