<!--begin::Aside Menu-->
<div class="aside-menu-wrapper flex-column-fluid">
  <!--begin::Menu Container-->
  <div>
    <!-- begin::Menu Nav -->
    <ul class="menu-nav">

      <!-- begin::1 Level -->
      <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active">
        <a class="menu-link" routerLink="/ipaddresses" routerLinkActive="active">
          <span cacheSVG="true" class="svg-icon menu-icon"></span>
          <span class="menu-text">IP Addresses</span>
        </a>
      </li>
      <!-- end::1 Level -->

      <!-- begin::1 Level -->
      <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active">
        <a class="menu-link" routerLink="/builder" routerLinkActive="active">
          <span cacheSVG="true" class="svg-icon menu-icon"></span>
          <span class="menu-text">Logs</span>
        </a>
      </li>
      <!-- end::1 Level -->
    </ul>
    <!-- end::Menu Nav -->
  </div>
  <!--end::Menu Container-->
</div>
<!--end::Aside Menu-->